{% extends 'base.html' %}

{% block title%}
Edit User
{% endblock %}

{% block content %}
<h2>Edit User</h2>

<form class="form-horizontal" action="/users/{{ i.id }}?_method=PATCH" method="POST">
	{{ form.csrf_token }}

	{% for field in form %}
	{% if field.name != 'csrf_token' %}
		
	<div class="form-group">
		{{ field.label(class_="col-sm-2 control-label") }}
		<div class="col-sm-3">
			{{ field(class_="form-control") }}
			<span>
				{% if field.errors %}
					{% for error in field.errors %}
					{{ error }}
					{% endfor %}
				{% endif %}
    		</span>
		</div>
	</div>
	{% endif %}
		
	{% endfor %}

	<div class="form-group">

		<div class="col-sm-offset-2 col-sm-2">
			<!--input type="submit" value="Submit User"-->
			<button type="submit" class="btn btn-warning">Edit User</button>
		</div>
	</div>

</form>

<hr>
<form action="/users/{{ i.id }}?_method=DELETE" method="POST">
{{ form.csrf_token }}
<a class="btn btn-primary" role="button" href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span></a>
<a class="btn btn-default" role="button" href="{{ url_for('show',user_id=i.id) }}"><span class="glyphicon glyphicon-step-backward"></span></a>
<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
</form>
{% endblock %}

	<!--div class="form-group">
		<label for="username" class="col-sm-2 control-label">Username</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="username" value="{{ i.username }}" placeholder="foo" >
		</div>
	</div>

	<div class="form-group">
		<label for="first_name" class="col-sm-2 control-label">First Name</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="first_name" value="{{ i.first_name }}">
		</div>
	</div>

	<div class="form-group">
		<label for="last_name" class="col-sm-2 control-label">Last Name</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" name="last_name" value="{{ i.last_name }}">
		</div>
	</div>

	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Email Adddress</label>
		<div class="col-sm-3">
			<input type="email" class="form-control" name="email" value="{{ i.email }}">
		</div>
	</div-->