{% extends 'base.html' %}


{% block title%}
{{i.username}}'s Messages
{% endblock %}

{% block content %}
<h2>{{i.username}}'s Messages</h2>

<ul class="list-group">
	{% for msg in i.messages.all() %}
						
	<li class="list-group-item">
		<form action="{{ url_for('msg_show',user_id=i.id,msg_id=msg.id) }}?_method=DELETE" method="POST">
			<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
		<a class="btn btn-warning" role="button" href="{{ url_for('msg_edit',user_id=i.id,msg_id=msg.id) }}"><span class="glyphicon glyphicon-edit"></span></a>
		{{ msg.msg_text }}
		</form>
		
	</li>
	{% endfor %}
			
</ul>

<a class="btn btn-primary" role="button" href="{{ url_for('index',user_id=i.id) }}"><span class="glyphicon glyphicon-home"></span></a>
<a class="btn btn-default" role="button" href="{{ url_for('show',user_id=i.id) }}"><span class="glyphicon glyphicon-step-backward"></span></a>

{% endblock %}